:root {
    --dark: #291e1c;
    --light: #c4d3d6;
    --accent: #ebac4e;
}

body {
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1080px;
    min-width: 400px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.flex-container > :first-child{
    max-width: 40%;
}

.flex-container > :last-child{
    max-width: 60%;
}