/* 
    Variables (AKA CSS Custom Properties)

    A variable is just a container that holds some sort of value. We usually give our variables a friendly, semantic name so that we can refer to them and use them later on in our code. All names must start with a double-hyphen (--) so that they aren't confused with already existing or language-defined values. 

    We can store all sorts of values in CSS custom properties, including things that are a little long, things that aren't easy to remember, or things that we might want to change throughout our entire website later.

    You must declare your variable before using them, so it's best practice to put them near the top of the stylesheet. Also remember to declare your variables in the :root of the document, else other elements may not be able to acces them (i.e. the variable may not be in scope)!

    Try converting this colour palette comment into variables.

    COLOUR PALETTE

    red:    #b91c1c;
    orange: #d97706;
    yellow: #eab308;
    green:  #16a34a;
    blue:   #0284c7;
    indigo: #7c3aed;
    violet: #a21caf;
    slate:  #334155;
    smoke:  #e2e8f0;
*/

:root{
    --red:    #b91c1c;
    --orange: #d97706;
    --yellow: #eab308;
    --green:  #16a34a;
    --blue:   #0284c7;
    --indigo: #7c3aed;
    --violet: #a21caf;
    --slate:  #334155;
    --smoke:  #e2e8f0;
}

section{
    font-size: 2rem;
    min-width: 16rem;
    padding: 3rem;
    text-align: center;
    color: white;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section:first-child{
    background-color: var(--red);
}

section:nth-of-type(2){
    background-color: var(--orange);
}

section:last-of-type{
    background-color: var(--blue);
}

section:nth-last-of-type(2){
    background-color: var(--green);
}

section:nth-of-type(odd){
    border: 10px solid var(--indigo);
}

p:first-of-type{
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--slate);
}

section:has(.special){
    background-color: var(--violet);
}